SUPABASE_URL=https://gampjpaxvgsgyjnjkhlv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdhbXBqcGF4dmdzZ3lqbmpraGx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Mzg4ODgsImV4cCI6MjA5MTAxNDg4OH0.N0dytiQhyE6wJoWDLkz5q3AOAQG_ZVkBIvdv8dTT51Q
FLASK_SECRET_KEY=9c8af3a6a632583ad6d5151125b3e8a8ab48294582e1d837288c9c67207b4d5c

