# Supabase Configuration
SUPABASE_URL=https://pwfskqcdsiixsahavzuj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3ZnNrcWNkc2lpeHNhaGF2enVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwODYzMTksImV4cCI6MjA5MjY2MjMxOX0.Z8y-2rQZgdxfpC5zzsKzcKnW7Uiuyj4bKC3CSfLeZhQ
SUPABASE_SERVICE_ROLE_KEY =eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3ZnNrcWNkc2lpeHNhaGF2enVqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA4NjMxOSwiZXhwIjoyMDkyNjYyMzE5fQ.PqtEwfvt67rYjwnaAmhryTpsak6tV0yOgSRwF4XfFF0
FLASK_SECRET_KEY=d3589842e76fd2f878012a9dea444dbcf7be0d16ad670a5bcfb61d02e2654699d940ffde0bd52a3175fb2d719a42ce24ad85411
90b3da2566fcfd5e20944c6f6
FLASK_ENV=development
FLASK_DEBUG=True
